@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer;
<section class="s-pt-130 s-pt-md-50 ls text-section">
	<div class="divider-30"></div>
	<div class="container">
		<div class="row">
			<div class="text-center col-md-12 justify-content-center text-block">
				<img src="img/vertical_line.png" alt="vertical line">
				<div class="divider-35"></div>
				<div class="content">
					<h1>
						@Localizer["Lets Get Started"]
						<br> @Localizer["Your Project"]
					</h1>
					<p>
						@Localizer["We’ll help to achieve your goals and to grow business"]
					</p>
					<div class="divider-30"></div>
				</div>
				<img src="img/vertical_line.png" alt="vertical line">
				<div>
					<div class="divider-40"></div>
					<a asp-controller="Home" asp-action="ContactUs" class="btn btn-outline-maincolor">@Localizer["Let’s Talk!"]</a>
					<div class="divider-30"></div>
				</div>
				<div class="img-wrap overflow-visible">
					<img src="img/vertical_line.png" alt="vertical line">
					<div class="divider-5 d-none d-xl-block"></div>
				</div>
			</div>

		</div>
	</div>
</section>