@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@section Title {
	<title>@Localizer["SmartifyYourBusiness"]</title>
}

@section Keywords {
	<meta name="description" content="@Localizer["IndexKeywords"]">
}
@section Description {
	<meta name="keywords" content="@Localizer["SmartifyDescription"]">
}

			<section class="page_title ls s-py-50 corner-title ls invise overflow-visible">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<h1>Account - Dashboard</h1>
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="./">Home</a>
								</li>
								<li class="breadcrumb-item">
									<a href="#">Shop</a>
								</li>
								<li class="breadcrumb-item active">
									Account - Dashboard
								</li>
							</ol>
							<div class="divider-15 d-none d-xl-block"></div>
						</div>
					</div>
				</div>
			</section>


			<section class="ls s-pt-50 s-pb-100">
				<div class="container">
					<div class="row">

						<div class="d-none d-lg-block divider-50"></div>

						<main class="col-lg-12">

							<article>
								<header class="entry-header">
									<h1 class="entry-title">My account</h1>
									<span class="edit-link">
										<a class="post-edit-link" href="#">
											Edit
											<span class="screen-reader-text"> "My account"</span>
										</a>
									</span>
								</header>
								<!-- .entry-header -->
								<div class="entry-content">
									<div class="woocommerce">
										<nav class="woocommerce-MyAccount-navigation">
											<ul>
												<li class="is-active">
													<a href="shop-account-dashboard.html">Dashboard</a>
												</li>
												<li>
													<a href="shop-account-orders.html">Orders</a>
												</li>
												<li>
													<a href="shop-account-downloads.html">Downloads</a>
												</li>
												<li>
													<a href="shop-account-addresses.html">Addresses</a>
												</li>
												<li>
													<a href="shop-account-details.html">Account details</a>
												</li>
												<li>
													<a href="shop-account-login.html">Logout</a>
												</li>
											</ul>
										</nav>


										<div class="woocommerce-MyAccount-content">

											<p>
												Hello
												<strong>admin</strong> (not
												<strong>admin</strong>?
												<a href="shop-account-login.html">
													Log out
												</a>)
											</p>

											<p>
												From your account dashboard you can view your
												<a href="shop-account-orders.html">recent orders</a>, manage your
												<a href="shop-account-address.html">shipping and billing addresses</a> and
												<a href="shop-account-details.html">edit your password and account details</a>.
											</p>

										</div>
									</div>
								</div>
								<!-- .entry-content -->
							</article>

						</main>

						<div class="d-none d-lg-block divider-75"></div>
					</div>

				</div>
			</section>
